OPENAI_API_KEY=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
CHROMA_URL=http://localhost:8000
TELEGRAM_BOT_TOKEN=8659345344:AAHZyKhAahe3axOhFVTuZv79T-ffA9Bhijs
RAG_INVOKE_URL=http://localhost:8000/rag/invoke
RAG_TIMEOUT_SECONDS=60
