*.pem

*.tfstate
*.tfstate.*
!terraform.tfvars.example

.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
.terraform.lock.hcl*
!.terraform.lock.hcl
